/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  //colors
  --color-primary: #0f162d;
  --color-primary-1: #ca59ff;
  --color-primary-2: #607cff;
  --color-primary-3: #2affff;
  --color-primary-4: #fff629;
  --color-secondary: #ffffff;
  --color-secondary-1: #000000;
  --color-secondary-2: #272d42;
  // // breakpoints
  // --bp-tablet: 496px;
  // --bp-desktop: 1136px;
  // grid
  --grid-base: 10px;
  //letter spacing
  --letter-spacing-base: 0;
  --letter-spacing-condensed: -0.2%;
  //font
  --font-base: "DM Sans";
  //font-size
  --font-size-base: 1rem;
  --font-size-1: 48px;
  --font-size-2: 32px;
  --font-size-3: 20px;
  --font-size-4: 16px;
  --font-size-5: 14px;
  //border-radius
  --rounding-1: 16px;
  --rounding-2: 24px;
}

$bp-tablet: 496px;
$bp-desktop: 1136px;
