.u-align-left {
  text-align: left;
}

.u-align-justify {
  text-align: justify;
}

.u-line-height-1 {
  line-height: var(--lh-24);
}

.u-line-height-2 {
  line-height: var(--lh-22);
}

.u-text-capitalize {
  text-transform: capitalize;
}
