/// Main Styles File
/// Here we import all the global Styles files we need for our project.

// base
@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "styles/mixins.scss";

// layout
@import "styles/layout/container.scss";
@import "styles/layout/column.scss";
@import "styles/layout/row.scss";

@import "styles/headdings.scss";

@import "styles/utilities/flex_box.scss";

body {
  font-family: "DM sans", sans-serif;
  color: var(--color-primary);
}

p {
  color: var(--color-secondary);
}
