/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/variables.scss";
@import "styles/mixins.scss";

// base
@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

// layout
@import "styles/layout/container.scss";
@import "styles/layout/column.scss";
@import "styles/layout/row.scss";

@import "styles/headings.scss";
//utilites
@import "styles/utilities/flex_box.scss";
@import "styles/utilities/text.scss";

html {
  height: 100%;
}

body {
  font-family: "DM sans", sans-serif;
  background-color: var(--color-primary);
  height: 100%;
}

p {
  color: var(--color-secondary);
  line-height: var(--lh-24);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}
