.l-col {
  width: 100%;
  display: grid;

  &--tb50 {
    @include desktop {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  &--dt50 {
    @include desktop {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
