.l-col {
  width: 100%;

  &--dt50 {
    @include desktop {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  &--tb50 {
    @include tablet {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
